
.jumbotron {
    background-image: linear-gradient(#ffffff, #3f8de6);
  }

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
  }

  #results {
    border-color: dimgray solid 2px;
    text-decoration-color: black;
   
  }